body {
    font-size: 62.5%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #4caf50, #ffeb3b);
}

.cabecalho {
    display: flex;
    align-content: center;
    justify-content: right;
}

.barra-opcoes{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:3vw;
    font-size: 4.8em;
    padding: 1rem 2rem;
}

