body {
    font-size: 62.5%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #000000, #483D8B, #A020F0);
    color: #FEFEFE;
}

.cabecalho {
    display: flex;
    align-content: center;
    justify-content: right;
}

.barra-opcoes{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:3rem;
    font-size: 2.4em;
    padding: 1rem 10rem;
}

